@use "../global/variables" as *;/* stylelint-disable-line */

.advantages__header {
  min-height: 205px;
  padding: 34px 18px 15px;

  @media (min-width: $tablet-width) {
    min-height: 206px;
    padding-top: 48px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 60px;
    padding-left: 120px;
    padding-right: 120px;
  }
}

.advantages__header-title {
  margin-bottom: 36px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
    font-size: 21px;
  }
}

.advantages__header-description {
  color: $charcoal;
  text-align: center;
  text-transform: uppercase;
}

.advantage__container {
  position: relative;
  min-height: 227px;
  padding: 70px 18px 40px;
  background-color: $basic-blue;
  color: $white;

  @media (min-width: $tablet-width) {
    padding: 54px 33px 30px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.advantage-1 {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}

.advantage-2 {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
}

.advantage-1__container::after {
  content: "";
  background-image: url("/img/advantages-triangle.svg");
  background-repeat: no-repeat;
  background-position: center top;
  position: absolute;
  width: 100%;
  height: 57px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    display: none;
    background-image: none;
  }
}

.advantage-2__container {
  min-height: 191px;
  padding: 37px 18px;

  @media (min-width: $tablet-width) {
    min-height: 256px;
    order: 2;
    padding: 54px 33px 30px;
  }

  @media (min-width: $desktop-width) {
    min-height: 256px;
  }
}

.advantage__image {
  display: block;
  object-fit: cover;
  object-position: center;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 100%;
    height: 100%;
  }
}

.advantages__title {
  margin-bottom: 11px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    margin-bottom: 13px;
  }
}

.advantage__number {
  display: block;
  margin-bottom: 17px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 22px;
  }
}

.advantages__text {
  text-transform: uppercase;
  text-align: center;
}

.features {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 25px;
  padding: 23px 18px 46px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0;
    padding: 0;
  }
}

.feature {
  display: flex;

  &::after {
    content: "";
    display: block;
    flex-shrink: 0;
    margin-right: 7px;
    order: -1;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @media (min-width: $tablet-width) {
      margin-right: 0;
      margin-bottom: 17px;
      width: 80px;
      height: 80px;
      align-self: center;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 25px;
    }
  }


  @media (min-width: $tablet-width) {
    flex-direction: column;
    align-items: center;
    min-height: 330px;
    padding: 60px 33px 15px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    align-items: center;
    min-height: 330px;
    padding: 64px 33px 15px;
  }
}

.feature--housing::after {
  background-image: url("/img/house.svg");

  @media (min-width: $tablet-width) {
    margin-bottom: 21px;
    margin-top: -5px;
    margin-left: -2px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 25px;
    margin-top: 0;
    margin-left: -2px;
  }
}

.feature--food::after {
  background-image: url("/img/burger.svg");

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
    margin-top: -5px;
    margin-left: -2px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 21px;
    margin-top: 0;
    margin-left: -2px;
  }
}

.feature--souvenires::after {
  background-image: url("/img/present.svg");

  @media (min-width: $tablet-width) {
    margin-bottom: 13px;
    margin-left: 4px;
  }

  @media (min-width: $desktop-width) {
    width: 88px;
    margin-bottom: 25px;
    margin-top: 0;
    margin-left: -2px;
  }
}

.feature__content {
  display: flex;
  flex-direction: column;
  padding-top: 8px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.feature__title {
  margin-bottom: 16px;
  text-align: left;

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;
    text-align: center;
  }
}

.feature__text {
  text-align: left;

  @media (min-width: $tablet-width) {
    text-align: center;
  }
}

.advantages__items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 49px;
  padding: 25px 18px 28px;
  background-color: $background-gray;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0;
    padding: 0;
  }
}

.advantage--secondary {
  @media (min-width: $tablet-width) {
    min-height: 256px;
    padding: 41px 33px;
    padding-top: 43px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 53px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

.advantage--secondary:last-child {
  @media (max-width: $mobile-width) {
    padding-top: 1px;
  }
}
