@use '../global/variables' as *;

.feedback {}

.feedback__fieldset {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 24px 20px 39px;
  border: none;
  border-top: 1px solid $GRAY;
}

.feedback__fieldset--contacts {
  padding-bottom: 34px;
}

.feedback__fieldset--impression,
.feedback__fieldset--attraction {
  padding-bottom: 24px;
}

.feedback__fieldset--submit {
  padding-bottom: 22px;
  border: none;
}

.feedback__legend {
  float: left;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.feedback__label {
  font-size: 14px;
  line-height: 21px;
  color: $DARK-GRAY;
  align-items: center;
  text-transform: uppercase;
}

.feedback__input {
  min-height: 58px;
  margin-bottom: 16px;
  padding: 16px;
  border: none;
  background-color: $LIGHT-GRAY;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  &::placeholder {
    color: #00000030;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.feedback__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.feedback__item--impression,
.feedback__item--attraction {
  position: relative;
  min-height: 46px;
  padding-left: 62px;
  padding-top: 10px;
}

.feedback__label--impression,
.feedback__label--attraction {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.feedback__mark--impression,
.feedback__mark--attraction {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  left: 0;
  top: 0;
  background-color: $LIGHT-GRAY;
  border-radius: 50%;
}

.feedback__mark--attraction {
  border-radius: 4px;
}

.feedback__input-radio:checked + .feedback__mark--impression::after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $DARK-GRAY;
}

.feedback__input-checkbox:checked + .feedback__mark--attraction::after {
  content: "";
  display: block;
  width: 22px;
  height: 16px;
  color: $DARK-GRAY;
  background-image: url('../img/tick.svg');
}

.feedback__input--emotions {
  min-height: 150px;
  padding: 16px;
  border: none;
  background-color: $LIGHT-GRAY;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  &::placeholder {
    color: #00000030;
  }
}

.feedback__button {
  margin-bottom: 3px;
  border: none;
  font-family: inherit;
  width: 100%;
  max-width: 324px;
}

.feedback__required {
  font-size: 12px;
  line-height: 21px;
  color: #33333360;
  text-transform: uppercase;
  text-align: right;
}
