@use "../global/variables" as *;

.intro {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 389px;
  padding-top: 90px;
  background-color: #6b869d;
  background-image: image-set(
    url("/img/intro-background-mobile.webp") 1x,
    url("/img/intro-background-mobile@2x.webp") 2x,
    url("/img/intro-background-mobile.jpg") 1x,
    url("/img/intro-background-mobile@2x.jpg") 2x
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &::after {
    content: "";
    background-image: url("/img/intro-triangle.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 57px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (min-width: $tablet-width) {
    min-height: 518px;
    padding-top: 77px;
  background-image: image-set(
    url("/img/intro-background-tablet.webp") 1x,
    url("/img/intro-background-tablet@2x.webp") 2x,
    url("/img/intro-background-tablet.jpg") 1x,
    url("/img/intro-background-tablet@2x.jpg") 2x
  );
  }

  @media (min-width: $desktop-width) {
  background-image: image-set(
    url("/img/intro-background-desktop.webp") 1x,
    url("/img/intro-background-desktop@2x.webp") 2x,
    url("/img/intro-background-desktop.jpg") 1x,
    url("/img/intro-background-desktop@2x.jpg") 2x
  );
  }
}

.intro__text {
  @media (min-width: $tablet-width) {
    width: 461px;
    height: 350px;
  }
}
