@use '../global/variables' as *;

.intro-secondary {
  display: flex;
  flex-direction: column;
  min-height: 346px;

  @media (min-width: $tablet-width) {
    min-height: 537px;
  }
}

.intro-secondary__header {
  padding:  38px 20px 25px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:  68px 155px 67px;
  }
}

.intro-secondary__header--form {
  @media (min-width: $tablet-width) {
    padding-top: 67px;
  }
}

.intro-secondary__title {
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 31px;
    font-size: 30px;
  }
}

.intro-secondary__title--form {
  @media (min-width: $tablet-width) {
    margin-bottom: 18px;
  }
}

.intro-secondary__description {
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    max-width: 440px;
  }
}

.intro-secondary__banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  order: -1;
  min-height: 158px;
  padding: 18px;
  padding-top: 4px;
  background-image: url('/img/intro-secondary.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  &:after {
    content: "";
    background-image: url('/img/intro-triangle.svg');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 57px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

  }

  @media (min-width: $tablet-width) {
    min-height: 290px;
    padding-top: 0;
    padding-bottom: 23px;
  }
}

.intro-secondary__img {
  @media (min-width: $tablet-width) {
    width: 460px;
    height: 78px;
  }
}
