@use "../global/variables" as *;/* stylelint-disable-line */

.modal-container-success {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 3;
}

.modal-container-success__content {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 320px;
  width: 100%;
  max-width: 640px;
  min-height: 323px;
  margin: auto;
  background-color: $white;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);

  @media (min-width: $tablet-width) {
    min-height: 347px;
  }
}

.modal-container-success__content-wrapper {
  min-height: 225px;
  padding: 43px 42px 15px 41px;

  @media (min-width: $tablet-width) {
    min-height: 201px;
    padding: 47px 42px 15px 41px;
  }
}

.modal-container-success__title {
  margin-bottom: 27px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 21px;
    font-size: 30px;
    line-height: 40px;
  }
}

.modal-container-success__text {
  margin-bottom: 31px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.modal-container-success__btn-wrapper {
  width: 100%;
  min-height: 98px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: $light-gray;

  @media (min-width: $tablet-width) {
    min-height: 146px;
    padding: 44px 91px;
  }
}

.modal-container-success__btn {
  width: 100%;
  max-width: 458px;
  border: none;
  font-size: 18px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}
