@use "../global/variables" as *;

.modal-success-container {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 3;
}

.modal__content {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 320px;
  max-width: 400px;
  min-height: 280px;
  margin: auto;
  padding: 45px 42px 35px 41px;
  background-color: #ffffff;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}

.modal__title {
  margin-bottom: 21px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.modal__text {
  margin-bottom: 31px;
  text-transform: uppercase;
  text-align: center;
}

.modal-success__btn {
  width: 100%;
  max-width: 180px;
  border: none;
}
