@use "../global/variables" as *;

.modal-error-container {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 3;
}

.modal__content--error {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 320px;
  width: 100%;
  max-width: 400px;
  min-height: 280px;
  margin: auto;
  padding: 45px 42px 35px 41px;
  background-color: #ffffff;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);

  @media (min-width: $tablet-width) {
    min-height: 347px;
    padding: 50px 47px 49px 46px;
  }
}

.modal__title--error {
  margin-bottom: 21px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 21px;
    font-size: 30px;
    line-height: 40px;
  }
}

.modal__text--error {
  margin-bottom: 31px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 48px;
  }
}

.modal-error__btn {
  width: 100%;
  max-width: 180px;
  border: none;

  @media (min-width: $tablet-width) {
    max-width: 272px;
  }
}
