@use '../global/variables' as *;

.page-header {
  position: relative;
  min-height: 56px;
}

.page-header__logo-link {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.menu__toggle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  width: 56px;
  height: 56px;
  border: none;
  padding: 0;
  background-color: transparent;
  z-index: 10;

  &:hover {
    cursor: pointer;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.menu__toggle svg {
  fill: $basic-blue;
}

.page-header__menu--closed {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}


.page-header__menu--opened {
  display: flex;
}

.page-header__menu {
  position: absolute;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 3;

  @media (min-width: $tablet-width) {
    position: static;
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-header__menu-item {
  width: 100%;
}

.page-header__menu-item:nth-child(2) {
  @media (min-width: $tablet-width) {
    margin-right: 153px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 240px;
  }
}

.page-header__menu-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 56px;
  background-color: $basic-blue;
  border-top: 1px solid #9DB7C7;
  border-bottom: 1px solid #678FA8;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: $white;

  &:hover {
    background-color: $hover-blue;
  }

  @media (min-width: $tablet-width) {
    background-color: $white;
    border: none;
    font-size: 14px;
    line-height: 21px;
    color: $black;
  }
}

.page-header__menu-item:last-of-type .page-header__menu-link{
  // background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
}
