@use "../global/variables" as *;/* stylelint-disable-line */

.page-body {
  display: flex;
  justify-content: center;
  min-height: 100%;
  background-color: $light-gray;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: $black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
