@use "../global/variables" as *;/* stylelint-disable-line */

.page-container {
  width: 100%;
  max-width: $desktop-width;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: $white;
}
