@use '../global/variables' as *;

.page-container {
  max-width: $mobile-width;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: $white;
}
