@use './global/variables' as *;

.photo__list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding-left: 60px;
    padding-right: 60px;
  }
}

.photo__item {
  min-height: 425px;
  padding: 24px 20px 25px;
  border-top: 1px solid $gray;

  @media (min-width: $tablet-width) {
    width: 50%;
    background-color: $light-gray;
    // padding: 22px 20px 15px;
    padding: 0;
  }
}

.photo__item:first-of-type {
  width: 100%;
}

.photo-card__content {
  display: flex;
  flex-direction: column;

}

.photo__title {
  margin-bottom: 1px;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.photo__author {
  margin-bottom: 11px;
}

.photo__likes {
  display: block;
  min-height: 26px;
}

.photo__img {
  order: -1;
  margin-bottom: 15px;
  object-fit: cover;
  object-position: center;

  @media (min-width: $tablet-width) {
    height: 267px;
    width: 100%;
  }
}
