@use "./global/variables" as *;

.photo__list {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 0;
    padding-right: 0;
  }
}

.photo__item {
  min-height: 425px;
  padding: 24px 20px 25px;
  border-top: 1px solid $gray;

  @media (min-width: $tablet-width) {
    min-height: 347px;
    background-color: $light-gray;
    padding: 0;
    border-top: none;
  }

  @media (min-width: $desktop-width) {
    min-height: 267px;
  }
}

.photo__item:first-of-type {
  @media (min-width: $tablet-width) {
    grid-column: 1 / 3;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 4;
  }
}

.photo-card__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.photo-card__content {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 20px 15px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #00000050;
    color: $white;
  }
}

.photo__title {
  margin-bottom: 1px;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.photo__author {
  margin-bottom: 11px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.photo__likes {
  position: relative;
  display: block;
  min-height: 26px;

  &::before {
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    background-image: url("../img/like.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    left: -25px;
    top: -4px;
  }
}

.photo__img {
  order: -1;
  margin-bottom: 15px;
  object-fit: cover;
  object-position: center;

  @media (min-width: $tablet-width) {
    height: 267px;
    width: 100%;
    margin-bottom: 0;
  }

  // @media (min-width: $desktop-width) {
  //   position: relative;
  // }
}

.photo__item:first-of-type .photo__img {
  @media (min-width: $tablet-width) {
    height: 400px;
  }
}
