@use './global/variables' as *;

.photo {

}

.photo__item {
  min-height: 425px;
  padding: 24px 20px 25px;
  border-top: 1px solid $gray;

}

.photo-card__content {
  display: flex;
  flex-direction: column;

}

.photo__title {
  margin-bottom: 1px;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.photo__author {
  margin-bottom: 11px;
}

.photo__likes {
  display: block;
  min-height: 26px;
}

.photo__img {
  order: -1;
  margin-bottom: 15px;
  object-fit: cover;
  object-position: center;
}
