@use "./variables" as *;

.btn__primary {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 58px;
  padding: 8px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: $white;
  text-transform: uppercase;
  background-color: $basic-blue;
}
