$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;
$white: #FFFFFF;
$light-gray: #F2F2F2;
$gray: #E5E5E5;
$dark-gray: #333333;
$black: #000000;
$basic-blue: #81B3D2;
$hover-blue: #669EC0;
$down-blue: #5496BD;
